.mobile-nav {
    display: none;
}

nav {
    padding: 0 4vmax;
    z-index: 11;
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 .3vmax 1vmax rgba(0, 0, 0, 0.3);
}

.desktop-nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
    font: 500 1vmax "Gilroy";
    height: 100%;
}

.logo-img {
    width: 10vmax;
}

.desktop-nav>ul>li {
    padding: 0 2vmax;
    color: rgb(136, 135, 135);
    transition: .5s all;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.desktop-nav>ul>li:hover {
    color: #000;
}

.get-app-btn {
    height: 60% !important;
    padding: 0 1vmax;
    border: 1px solid black;
    border-radius: .6vmax;
    color: #000;
    
}

.menu-options {
    z-index: 111;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all .5s ease;
}

.nav-cross {
    display: flex;
    justify-content: flex-end;
    height: 5vh;
    padding: 3vmax 3vmax 0 0;
}

.nav-cross > i {
    font-size: 4vmax;
    color: #fff;
}

.nav-options {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.nav-options > li {
    font: 500 2.5vmax "Gilroy" ;
    margin: 2vmax 0;
    color: rgb(235, 235, 235) ;
    transition: all .5s;
}

.nav-options > li:hover {
    color: #fff;
}

.nav-options > li:last-child {
    border: none;
    background-color: rgb(233, 232, 232);
    color: #000;
    padding: 1vmax;
    border-radius: .5vmax;
    transition: all .5s;
}

.nav-options > li:hover:last-child {
    background-color: #fff;
}



@media screen and (max-width: 600px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}