.page4 {
    width: 90%;
    /* padding: 1vmax 0; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.page4-image {
    width: 50vw;
    transform: scale(1.3);
}

.page4-content {
    width: 50vw;
}

.page4-content>h1 {
    font: 700 3vmax "Gilroy";
    margin-bottom: 2vmax;
}

.page4-content>p {
    font: 300 1vmax "Gilroy";
    color: rgb(104, 103, 103);
}

.page4-buttons {
    display: flex;
    margin-top: 1vmax;
}

.page4-buttons>button {
    padding: .8vmax 1.5vmax;
    border-radius: 1vmax;
    font: 500 1vmax "Gilroy";
    color: #fff;
    background-color: royalblue;
    border: none;
    display: flex;
    align-items: center;
}

.page4-buttons>button>img {
    width: 2vmax;
}

/* .page4-buttons > button:nth-child(2) > img {
    width: 2vmax;
} */


@media screen and (max-width:600px) {
    .page4 {
        flex-direction: column;
        align-items: center;
    }

    .page4-image {
        width: 100%;
    }

    .page4-content {
        width: 80%;
    }

    .page4-content>h1 {
        font: 700 3.5vmax "Gilroy";
    }

    .page4-content>p {
        font: 300 1.5vmax "Gilroy";
    }

    .page4-buttons>button {
        font: 500 1.5vmax "Gilroy";
    }


}