* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Box Model */

#box1 {
    width: 200px;
    height: 200px;
    /* outline: 5px solid green; */
    /* background-clip: border-box; */
    /* padding: 5px 10px 15px 30px; */
    padding: 40px;
    /* padding-top: 40px; */
    /* margin: 10px; */
    /* border: 5px solid rgba(0, 0, 255, 0.212); */
    /* border-left: 6px dashed green; */
    /* border-right: 6px dotted green; */
    /* border-bottom: 6px double yellow; */
    background-color: red;
    /* border-image: url("/Sheryians\ brand\ logo.png"); */
    /* border-image-repeat: 10; */
    /* border-radius: 50%; */
    /* border-top-left-radius: 10px; */
}

#box2 {
   
    background-color: green;
}