*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Gilroy";
}

section {
    width: 100%;
    height: 100%;
    background-image: url(./n1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.one {
    color: #fff;
    width: 30%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.one > nav { 
    width: 100%;
    height: 10%;
    /* background-color: pink; */
}

.one > nav > ul  {  
    padding: 5%;
    height: 100%;
    /* background-color: yellow; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one > header {
    width: 100%;
    /* background-color: rgb(96, 71, 207); */
    padding-left: 5%;
} 

.one > footer {
    padding-left: 5%;
    /* background-color: palevioletred; */
}

.one > header > span {
    font-size: 50px;
}

.one > header > div {
    display: flex;
    align-items: center;
}

.one > header > div > hr {
    width: 20%;
    height: 1px;
}

.two {
    width: 30%;
    height: 100%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.circles {
    /* background-color: red; */
    display: flex;
    margin-right: 8%;
    
}

.filler{
    height: 15%;
    width: 100%;
    /* background-color: green; */
}

.circle {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-left: 3%;
}

.circle:first-child {
    background-color: #fff;
}

.three {
    width: 40%;
    height: 100%;
    background-color: blue;
}